*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    height: 40vh;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-size: 30px;
    background-color: rgb(66, 60, 184);
}

.container{
    height: 50vh;
    width: 80%;
    text-align: center;
    background-color: white;
    position: absolute;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    margin-top: 240px;
    margin-left: 160px;
}
.dropdown{
    display: inline-block;
}
.amount, .from, .to, i {
    display: inline-block;
    margin-right: 100px;
    margin-top: 70px;
  }
select{
    font-size: 16px;
    width: 100px;
}
i{
    font-size: 20px;
}


.from img , .to img{
    width: 50px;
}
.amount input{
    width: 250px;
    height: 20px;
    padding: 5px;
    font-size: 20px;
}

.amount p{
    font-size: 20px;
    margin-bottom: 10px;
}
.button{
 display: block;
 margin-left: 450px;
 margin-top: 60px;
 padding: 10px;
 font-size: 18px;
 width: 250px;
 border-radius: 10px;
 background-color: rgb(246, 192, 32);
}

.msg{
    margin-top: 80px;
    margin-right: 60vw;
    font-size: 18px;
    font-weight: bolder;
}
footer{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
}
.name{
    color: rgb(255, 0, 0);
}
